* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.flag {
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.country-name {
  font-size: 2.25rem;
}

.num-of-rounds__label {
  margin-top: 0.5rem;
}

.num-of-rounds__buttons {
  margin-top: 0.25rem;
}

.select-language__label {
  margin-top: 1rem;
}

.select-language__buttons {
  margin-top: 0.25rem;
}

.start-btn {
  display: block;
  width: 100%;
}

/* Main Screen */

.flag,
.options-box {
  align-self: stretch;
}

.options-list {
  width: 100%;
}
