* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-page,
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: 2rem;
  text-align: center;
}

.flag {
  display: block;
  margin: 0 auto;
  width: min(100%, 450px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.country-name {
  font-size: 2.25rem;
}

.num-of-rounds__label {
  margin-top: 0.5rem;
}

.num-of-rounds__buttons {
  margin-top: 0.25rem;
}

.select-language__label {
  margin-top: 1rem;
}

.select-language__buttons {
  margin-top: 0.25rem;
}

.btn {
  // display: block;
  margin: 0 auto;
  &--start {
    width: 110px;
  }
}

/* Main Screen */

.options-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.options-list {
  margin: 0 auto;
  width: min(100%, 450px);
}

.round-and-score {
  margin: 0 auto;
}

.capital {
  font-size: 5rem;
}
